<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes Paraiso</title>
    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <img src="img/logo.png" alt="Logo" style="width:40px;" class="rounded-pill">
            <a class="navbar-brand" href="index.html">Viajes Paradise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="paquetes.html">Paquetes Turísticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="compras.html">Mis Compras</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Administración</a>
                        <div class="dropdown-menu bg-primary" aria-labelledby="dropdownId">
                            <a class="dropdown-item drophovercustom" href="adminpaquetes.html">Paquetes</a>
                            <a class="dropdown-item drophovercustom" href="admincompras.html">Compras</a>
                            <a class="dropdown-item drophovercustom" href="adminusuarios.html">Usuarios</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <a href="login.html">
                        <li class="nav-item text-light sesiontext">Usuario</li>
                    </a>

                </ul>


            </div>
        </div>
    </nav>

    <div class="container"><!--MAIN CONTENT-->
        <div>
            <h1 class="display-3 pt-2 pl-2 text-center">Proceso de Pago</h1>
        </div>
        <div class="row pt-2">
            <div class="col-lg pb-2">
                <div class="card p-2 shadow">
                    <div class="">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 "><img class="card-img-top img-thumbnail shadow" src="img/komodo.jpg"
                                    alt="Komodo"></div>
                            <div class="col-2"></div>
                        </div>

                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Granja Educativa Komodo</h4>
                        <p class="card-text">US$2500 por persona</p>
                        <p class="h4">Incluye:</p>
                        <ul>
                            <li>Incluye traslado a la Isla de Komodo</li>
                            <li>Cabalgata sobre dragones de Komodo</li>
                            <li>Traslado a hospital</li>
                            <li>Funeral all inclusive para sus amigos que vivan en Komodo</li>
                        </ul>


                    </div>
                </div>

            </div>
            <div class="col-lg">
                <section class="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="card rounded-3 shadow">
                                <div class="card-body p-4">
                                    <div class="text-center mb-4">
                                        <h3>Pagar con Tarjeta</h3>

                                    </div>
                                    <form action="">
                                        <p class="fw-bold mb-4 pb-2">Tarjeta:</p>

                                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                                            <img class="img-fluid"
                                                src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                                            <div class="flex-fill mx-3">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="formControlLgXc"
                                                        class="form-control form-control-lg"
                                                        value="**** **** **** 3193" />
                                                    <label class="form-label" for="formControlLgXc">Número de
                                                        Tarjea</label>
                                                </div>
                                            </div>
                                        </div>



                                        <p class="fw-bold mb-4">Datos Tarjeta:</p>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="text" id="formControlLgXsd"
                                                class="form-control form-control-lg" value="Wacoldo Soto" />
                                            <label class="form-label" for="formControlLgXsd">Propietario tarjeta</label>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-7">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="formControlLgXM"
                                                        class="form-control form-control-lg"
                                                        value="1234 5678 1234 5678" />
                                                    <label class="form-label" for="formControlLgXM">Número de
                                                        Tarjeta</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="password" id="formControlLgExpk"
                                                        class="form-control form-control-lg" placeholder="MM/YYYY" />
                                                    <label class="form-label" for="formControlLgExpk">Expire</label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="password" id="formControlLgcvv"
                                                        class="form-control form-control-lg" placeholder="Cvv" />
                                                    <label class="form-label" for="formControlLgcvv">Cvv</label>
                                                </div>
                                            </div>
                                        </div>


                                        <a href="miscompras.html" role="button"
                                            class="btn btn-success btn-lg btn-block">&nbsp;&nbsp;Pagar&nbsp;&nbsp;&nbsp;</a>
                                            <a href="index.html" role="button"
                                            class="btn btn-danger btn-lg btn-block">Cancelar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>



    </div><!--MAIN CONTENT-->


</body>

</html>